<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/bpmLogo.png">
  <!-- 3rd party plugins -->
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.css">
  <!-- custom page specific -->
    <script type="text/javascript" src="/javascripts/bpm-brain.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>  
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
	<!-- Include the Header -->
	<%- include header.ejs %>
  <div id="bpm-calculator-body" class="text-center">
  <!-- Page Body -->
    <h1 class="title"><%= title %></h1>    
    <hr>
    <img class="logo" src="/images/bpmLogo.png">
    <p id="usage">The <%= title %> can be used for detailed timing work with your LFO's and delays.</p>
    
    <div class="row container">
      
      <div class="col-sm-6">
        <h4>Enter your projects BPM: </h4>
        <input class="form-control" type="number" required="true" id="bpm" value="125" onchange="calculate()">
      </div>

      <div id="inputs">    
        <h2 id="numerator">1</h2>
        <h2>/</h2>
        <h2 id="denominator">1</h2>
      </div>

      <div class="col-sm-6" id="slides">
        <div class="slide" id="slider-numerator"></div>
        <div class="slide" id="slider-denominator"></div>
      </div>

    </div>

    <div id="results" class="col-sm-12">
      <h2 id="msResult"></h2>
      <h2>&nbsp - &nbsp</h2>
      <h2 id="htzResult"></h2>    
    </div>
    


  <!-- Include Footer -->
    <%- include footer.ejs%>
    
  </div>
  </body>
</html>
